<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

{% if page.url contains '/teko/' %}
      <link rel="icon" type="image/png" href="{{ '/assets/icon_teko.png' | relative_url }}">
    {% elsif page.url contains '/aeftb/' %}
      <link rel="icon" type="image/png" href="{{ '/assets/icon_aeftb.ico' | relative_url }}">
    {% else %}
      <link rel="icon" type="image/png" href="{{ '/assets/icon_talio.png' | relative_url }}">
    {% endif %}
    
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      
      {% if page.header_buttons %}
<div class="header-buttons-container">
          {% for btn in page.header_buttons %}
            
            {% comment %} --- Lógica para detectar si el botón debe estar activo --- {% endcomment %}
            {% assign btn_class = "btn custom-header-btn" %}
            
            {% comment %} Caso 1: Coincidencia exacta (ej. Home) {% endcomment %}
            {% if page.url == btn.url %}
              {% assign btn_class = btn_class | append: " active-btn" %}
            
            {% comment %} Caso 2: Coincidencia parcial para secciones (ej. Wiki, Announcements) pero ignorando Home para que no se active siempre {% endcomment %}
            {% elsif btn.url != '/teko/' and page.url contains btn.url %}
               {% assign btn_class = btn_class | append: " active-btn" %}
            {% endif %}

            <a href="{{ btn.url }}" class="{{ btn_class }}" {% if btn.new_tab %}target="_blank" rel="noopener noreferrer"{% endif %}>
              
              {% if btn.image_path %}
                <img src="{{ btn.image_path }}" alt="icon" class="btn-img-icon">
              
              {% elsif btn.icon_class %}
                <i class="{{ btn.icon_class }}"></i>
              {% endif %}

              {% if btn.label %}
                <span class="btn-text">{{ btn.label }}</span>
              {% endif %}
            </a>
          {% endfor %}
        </div>
      
    </section>

    <section class="main-content">
      {{ content }}
    </section>
  </body>
</html>
